h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2c3145;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: auto;
}

.section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

.section-title-border {
    background-color: #000;
    height: 1 3px;
    width: 44px;
}

.section-title-border-white {
    background-color: #fff;
    height: 2px;
    width: 100px;
}

.text_custom {
    color: #00bd2a;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #00bd2a;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_icon {
    width: 60px;
    height: 60px;

    img {
        width: 100%;
        height: 100%;
    }
}

.about_content_box_all {
    padding: 28px;
}

.section_title_all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.vertical_content_manage {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width:420px) {

    .vertical_content_manage {
        flex-direction: column-reverse;
    }

    .carousel-cell {
        width: 370px !important;

        .rating {
            width: 370px !important;
        }
    }

    .AllServices {

        .Serv {
            width: 100% !important;
        }
    }
}


.AllServices {
    width: 100%;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .about_detail {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .Serv {
        width: 30%;
    }
}


.section_subtitle {
    text-align: start;
    margin-left: 10px;
}

.about_header_main {
    p {
        text-align: start;
        margin-left: 10px;
    }
}

// *******************SLIDER****************

.Slider {
    .happy-customer {
        width: 100%;
        background: #F9FAFB;
        padding: 48px 0;
    }

    .title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;
    }

    .rating {
        width: 240px;
        height: 370px;
        padding: 24px;
        text-align: center;
        border-radius: 3px;
        background: #FFFFFF;
        // opacity: 0.3;
        transform: scale3d(0.8, 0.8, 1);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
        transition: all 0.3s ease-in-out;

        &-user,
        &-rate {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-user {
            margin-bottom: 26px;

            &--avatar {
                height: 99px;
                width: 100px;
                border-radius: 50px;
                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
            }

            &--name {
                font-size: 16px;
                color: #374151;
                font-weight: 600;
            }

            &--position {
                font-size: 12px;
                color: #4299E1;
            }
        }

        &-rate {

            .quate {
                width: 20px;
                margin-bottom: 12px;
            }

            .rating-message {
                width: 180px;
                font-size: 14px;
                color: #6B7280;
                margin-bottom: 12px;
            }

            .rating-star {
                display: flex;

                .feather-icon {
                    stroke: none;
                    fill: #4299E1;
                }
            }
        }
    }

    .rating-carousel {
        padding: 20px 0 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .carousel-cell {
            width: 240px;
            margin-right: 16px;
        }

        .flickity-page-dots {
            bottom: -20px;
        }

        .carousel-cell.is-selected .rating {
            transform: scale3d(1, 1, 1);
            opacity: 1;
            border-top: 2px solid #4299e1;
        }

    }

}