<!-- login.component.html -->
<div class="limiter">
    <div class="container-login100">
        <!-- ***************************Sign In*********************** -->

        <div class="wrap-login100" *ngIf="SignIn">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                <span class="login100-form-title">
                    Sign In
                </span>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">
                    <input class="input100" type="text" name="username" placeholder="Email" id="loginEmail">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                    <input class="input100" type="password" name="pass" placeholder="Password" id="loginPassword">
                    <span class="focus-input100"></span>
                </div>
                <div class="text-right p-t-13 p-b-23">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a href="#" class="txt2">
                        Password ?
                    </a>
                </div>
                <div class="container-login100-form-btn" (click)="doLogin($event)">
                    <button class="login100-form-btn">
                        Sign in
                    </button>
                </div>
                <div class="flex-col-c p-t-170 p-b-40">
                    <span class="txt1 p-b-9">
                        Don’t have an account?
                    </span>
                    <a class="txt3">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>

        <!-- ***************************Sign Up*********************** -->

        <div class="wrap-login100" *ngIf="!SignIn">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                <span class="login100-form-title">
                    Sign Up
                </span>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username"
                    *ngIf="SignInpageId==1">
                    <input class="input100" type="text" name="username" placeholder="Username" id="RegisterUserName">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter mail"
                    *ngIf="SignInpageId==1">
                    <input class="input100" type="text" name="username" placeholder="Mail" id="RegisterEmail">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter phone_number"
                    *ngIf="SignInpageId==1">
                    <input class="input100" type="tel" name="username" placeholder="Phone_number"
                        id="RegisterPhonenumber">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Please enter password" *ngIf="SignInpageId==1">
                    <input class="input100" type="password" name="pass" placeholder="Password" id="RegisterPassword">
                    <span class="focus-input100"></span>
                </div>
                <!-- <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username"
                    *ngIf="SignInpageId==1" style="margin-top: 16px">
                    <input class="input100" type="text" name="username" placeholder="Username" id="RegisterUsername">
                    <span class="focus-input100"></span>
                </div> -->

                <!-- ************************************SECOND PAGE**************************** -->

                <div class="forBack">
                    <div *ngIf="SignInpageId==2" (click)="back()" class="backSymbol">➥</div>
                    <span *ngIf="SignInpageId==2"> Back</span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter street"
                    *ngIf="SignInpageId==2" style="margin-top: 16px">
                    <input class="input100" type="text" name="username" placeholder="Street" id="RegisterStreet">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter city"
                    *ngIf="SignInpageId==2" style="margin-top: 16px">
                    <input class="input100" type="text" name="username" placeholder="City" id="RegisterCity">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter district"
                    *ngIf="SignInpageId==2" style="margin-top: 16px">
                    <input class="input100" type="text" name="username" placeholder="District" id="RegisterDistrict">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter state"
                    *ngIf="SignInpageId==2" style="margin-top: 16px">
                    <input class="input100" type="text" name="username" placeholder="State" id="RegisterState">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter zipcode"
                    *ngIf="SignInpageId==2" style="margin-top: 16px">
                    <input class="input100" type="text" name="username" placeholder="Zipcode" id="RegisterZipcode">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Country"
                    *ngIf="SignInpageId==2" style="margin-top: 16px">
                    <input class="input100" type="text" name="username" placeholder="Country" id="RegisterCountry">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn" *ngIf="SignInpageId==1" (click)="Next($event)">
                    <button class="login100-form-btn" style="margin-top: 16px;margin-bottom: 35px;">
                        Next
                    </button>
                </div>
                <div class="container-login100-form-btn" *ngIf="SignInpageId==2" (click)="doRegister($event)">
                    <button class="login100-form-btn" style="margin-top: 16px;">
                        Sign Up
                    </button>
                </div>
                <div class="flex-col-c p-t-30 p-b-40">
                    <span class="txt1 p-b-9">
                        Already have an account?
                    </span>
                    <a class="txt3" (click)="Signin()">
                        Sign In now
                    </a>
                </div>
            </form>
        </div>

    </div>
</div>


<!-- ************************************************ALERT POPUP************************************ -->

<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="background: #00000054;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-20" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Login Successfull !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Let's go</button>
            </div>
        </div>
    </div>
</div> -->