.serviceMenu:hover {
    .lazyload {
        opacity: 1 !important;
    }
}

.active {
    // transform: translate(0) !important;
    // visibility: visible !important;
}

.OpenmenuLeft {
    display: block !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    background: white;
    z-index: 9999 !important;
    overflow-y: auto;
    overflow-x: auto;
    transition: width 0.5s ease;
    overflow: hidden;
    width: 300px;
}

.ClosemenuLeft {
    left: -3000px !important;
    transition: 0.5s !important;
    transition: left 0.5s ease;
}

.mobile-menu-overlay {
    transition: all 0.1s !important;
}

.subMenuOpen {
    display: block !important;
    transition: all 0.6s ease-in-out;
}

.subMenuClose {
    display: none !important;
    transition: all 0.6s ease-in-out;
}


@media (min-width: 992px) {
    .block-width-28 {
        width: 28%;
    }
}

@media (min-width: 992px) {
    .block-width-15 {
        width: 15%;
    }
}

@media (min-width: 992px) {
    .block-width-15 {
        width: 15%;
    }
}

@media (min-width: 992px) {
    .block-width-15 {
        width: 15%;
    }
}

@media (min-width: 992px) {
    .block-width-27 {
        width: 27%;
    }
}

.site-footer__linklist {
    li {
        display: flex;
        align-items: center;
    }
}

.footInput {
    padding: 0px;
    height: 52px;
    margin-top: -3px;
}

.SubscribePop {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s cubic-bezier(0, 1, .4, 1), transform .4s cubic-bezier(.18, 1.25, .4, 1), visibility .4s linear;
    transform: scale(1);
}

.popup-title,
.popup-sub-title {
    color: white !important;
}

.newsletter-form__field-wrapper .field {
    height: 40px;

    input {
        height: 40px;
    }
}

.newsletter-popup .newsletter-popup-modal__content {
    width: 600px !important;
    height: 390px !important;
}

.product-popup-modal__content-info {
    height: 400px !important;
}

.image-cover .Pop_Content {
    padding: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.image-cover {
    height: 100%;
}

.newsletter-popup-overlay {
    width: 101.2%;
    height: 100%;
    padding: 0;
    left: -8px;
    top: -15px;
    overflow: hidden;
}

#_n_child-one1 {
    width: fit-content !important;

    #top-menu-child {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.dropdown-item:hover {
    background-color: #e9ecef !important;
}

.call-img {
    width: 22px !important;
    height: 19px !important;
}

#user-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #00000045;


    .login {
        box-shadow: 0px 0px 7px grey;
        background: white;
        height: 96%;

        form {
            margin: 0 !important;
        }

        .active {
            h2 {
                position: relative;
            }

            i {
                position: absolute;
                top: 11px;
                right: 0;
                cursor: pointer;
            }
        }
    }
}

.LOG_PAGE {
    height: auto !important;
    padding: 15px !important;
}

.REG_PAGE {
    height: auto !important;
    padding: 15px !important;
}

.RESET_PAGE {
    height: auto !important;
    padding: 15px !important;
}

.btn {
    margin: 10px !important;
}

.log_field {
    height: 50px !important;
    margin-top: 20px !important;

    input {
        height: 100% !important;
        padding: 0 !important;
    }

    label {
        top: 16px !important;
    }
}

.create {
    font-size: 20px !important;
}

.newsletter-form__field-wrapper {
    height: 40px !important;

    .field {
        height: 40px !important;

        input {
            height: 40px !important;
            padding: 0 0 0 20px !important;
        }

        label {
            top: 10px !important;
        }
    }
}

.popup-title {
    font-size: 18px !important;
}

.Pop_Content {
    padding: 0 !important;
    height: 400px !important;
    width: 62% !important;
}

#Subscribe {
    padding: 0px 5px;
    height: 30px;
    top: 5px !important;
}

.MailLabel {
    top: 10px !important;
}

// **********************************MOBILE VIEW***************************

@media screen and (max-width:420px) {
    #user-notification {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 100;

        .login {
            width: 94% !important;
            box-shadow: 0px 0px 7px grey;
            padding: 15px;
            border-radius: 4px;
            background-color: white;

            #ishi-login-panel,
            #ishi-register-panel {
                position: relative;

                #CloseIcon {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 20px;
                }
            }
        }
    }

    .SubscribePop {
        display: flex;
        align-items: center;
        justify-content: center;

        .newsletter-popup-modal__content {
            width: 96% !important;
        }
    }

    .LoginCloned {
        display: none !important;
    }
}

.footer__blocks-wrapper {
    padding: 15px;
}

.footer__content-top {
    padding-top: 20px !important;
}

// #shopify-section-header {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;

//     .MobLogin {
//         position: absolute;
//         left: 20px;
//     }
// }