<!-- ********************************SERVICE 1******************************** -->

<section *ngIf="ServiceId==1" class="Service1">
    <h2 style="font-size: 30px;">Our Grow Bags ?</h2><br>
    <ul>
        <li><strong>Durable Materials:</strong> Crafted with precision, our grow bags, including Azolla bags, Vermi
            bags, 260 GSM bags, and Spinach bags, are made from high-quality, breathable fabric that ensures optimal
            root development and lasting use.</li>
        <li><strong>Versatility:</strong> From Azolla to Spinach, our bags are tailored for various plants. Suitable
            for
            indoor or outdoor gardening, we have the perfect size for every space.</li>
        <li><strong>Optimal Drainage:</strong> Our fabric construction provides excellent drainage, preventing
            overwatering and promoting aeration for robust plant growth.</li>
        <li><strong>Space-Saving:</strong> Perfect for urban gardening, our grow bags are not only functional but
            also
            space-efficient. Easily move them to maximize your growing area.</li>
    </ul><br>

    <h2 style="font-size: 30px;">Explore Our Specialized Grow Bag Range</h2><br>
    <div class="container">
        <div class="grow-bag" data-aos="zoom-in">
            <img src="../../assets/image/Bag1.png" alt="Vermi Bags Image">
            <h3>Vermi Bags</h3>
            <p>Perfect for vermicomposting and organic gardening. Enhance your soil health naturally.</p>
        </div>
        <div class="grow-bag" data-aos="zoom-in">
            <img src="../../assets/image/Bag2.png" alt="260 GSM Bags Image">
            <h3>260 GSM Bags</h3>
            <p>Sturdy and durable bags with a thickness of 260 GSM. Ensure longevity for your gardening needs.</p>
        </div>
        <div class="grow-bag" data-aos="zoom-in">
            <img src="../../assets/image/Bag3.png" alt="Spinach Bags Image">
            <h3>Spinach Bags</h3>
            <p>Specifically crafted for spinach cultivation. Maximize your spinach yield with our specialized bags.
            </p>
        </div>
    </div><br>

    <h2 style="font-size: 30px;">Services We Offer</h2><br>
    <div class="service">
        <h3>1. Custom Sizing</h3>
        <p>Tailor your grow bags to your specific needs. <a href="#">Contact us</a> to discuss custom sizes for your
            unique gardening requirements.</p>
    </div>
    <div class="service">
        <h3>2. Bulk Orders</h3>
        <p>Are you a commercial grower or landscaping professional? Take advantage of our bulk order options with
            discounted prices.</p>
    </div>
    <div class="service">
        <h3>3. Expert Advice</h3>
        <p>Not sure which size is right for you? Our gardening experts are here to provide personalized advice and
            guidance. <a href="#">Reach out to us</a> for assistance.</p>
    </div>
</section>


<!-- ********************************SERVICE 2******************************** -->

<section *ngIf="ServiceId==2" class="Service2 why-choose-us">
    <h2 style="width: 100%;font-size: 30px;"> Our Roof Gardening Services ?</h2><br>

    <p>Roof gardening is a truly transformative practice that not only adds aesthetic appeal to urban landscapes but
        also contributes significantly to environmental sustainability. The lush greenery atop buildings not only
        provides a refreshing sight but also serves as a natural insulator, regulating temperatures and reducing
        energy
        consumption</p><br>

    <!-- <h3 style="right: 34%;
    position: relative;">Mission & Vision</h3>
    <p>Design and prepare attractive gardens in home, balcony, and rooftops of buildings. Become the best consultant
        firm on rooftop gardening in Khulna, and eventually in Bangladesh.</p><br> -->

    <h3 style="font-size: 20px;">Advantages of roof Gardening </h3><br>
    <img src="../../assets/image/advantageRoof.png" alt="" data-aos="fade-down"><br><br>

    <h3 style="font-size: 30px;" class="title">Benefits of Roof Gardening</h3><br><br>

    <div class="benefits">
        <div class="benefits1">
            <p>For the Community:</p>
            <ul data-aos="fade-right">
                <li>➤ Reduce stormwater runoff</li>
                <li>➤ Reduce city "heat island" effect</li>
                <li>➤ Reduce smog and improve air quality</li>
                <li>➤ Reduce noise</li>
                <li>➤ Reduce energy demand</li>
                <!-- <li>➤ Improve aesthetics</li>
                <li>➤ Provide green space</li> -->
            </ul>
        </div>

        <div class="benefits1">
            <p>For the Environment:</p>
            <ul data-aos="fade-left">
                <li>➤ Prevent combined sewer overflow</li>
                <li>➤ Reduce carbon monoxide impact</li>
                <li>➤ Remove nitrogen pollution from rain</li>
                <li>➤ Neutralize acid rain effect</li>
                <li>➤ Provide habitat for wildlife</li>
            </ul>
        </div>
    </div><br><br><br>

    <h3>Implement Procedure</h3><br>

    <div class="procedure">
        <div class="procedure-In">
            <div class="procedure-In1" data-aos="fade-down-right">
                <h5>Preperation</h5>
            </div>⮀
            <div class="procedure-In1" data-aos="fade-right">
                <h5>Design</h5>
            </div>⮀
            <div class="procedure-In1" data-aos="fade-left">
                <h5>Making</h5>
            </div>⮀
            <div class="procedure-In1" data-aos="fade-down-left">
                <h5>Maintenance</h5>
            </div>
        </div>
    </div><br><br><br><br>

    <div class="greenRoof">
        <img src="../../assets/image/greenRoof.png" alt="" data-aos="fade-up-right">
        <div class="greenRoof-text" data-aos="fade-up-left">
            <p>
                Roof gardening serves as a natural shield against the harsh effects of sun heat by providing an
                additional layer of insulation to buildings. The greenery on rooftops acts as a barrier, absorbing
                and
                deflecting sunlight, thereby reducing the amount of heat that penetrates into living spaces. The
                plants,
                through a process known as transpiration, release moisture into the air, creating a cooling effect
                and
                mitigating the intensity of solar radiation.
            </p>
        </div>
    </div><br><br><br>

    <!-- <ul>
        <li><span class="preparation">Preparation:</span> Survey, measuring available space etc.</li>
        <li><span class="design">Design:</span> Virtual design, selecting materials & plants etc.</li>
        <li><span class="making">Making:</span> Structure making and plantation</li>
        <li><span class="maintenance">Maintenance:</span> Post-production service in short/long term</li>
    </ul> -->

</section>


<!-- ********************************SERVICE 3******************************** -->

<section *ngIf="ServiceId==3" class="Service3">
    <h2 style="width: 100%;font-size: 30px;">Drip Irrigation Service ?</h2><br>
    <section>
        <article>
            <p>These watering methods are very efficient, slowly applying water to vegetables and ornamental
                gardens.
                Soil moisture can be maintained at a level most suitable for plant uptake. If properly installed and
                maintained, little water is lost to evaporation or runoff, and water use can be reduced by up to 50
                percent.</p>
        </article>

        <article>
            <p>For many situations, the expense of installing a good trickle irrigation system will be compensated
                by
                reduced water usage. On any irrigation system, replace leaky parts promptly.</p>
        </article>
    </section><br>

    <section>
        <article>
            <h2 class="title">Use the Best Watering Method</h2><br>
            <p>While soils vary greatly in their ability to hold water, your garden and lawn should receive enough
                water
                to wet the soil to the bottom of the root zone each time you water—generally 1 inch per week.
                Determine
                this by digging a hole 5 to 6 inches deep in the watered area the day after watering so the water
                has a
                chance to seep in. Adjust weekly watering to your soil needs.</p>
        </article><br><br>

        <article>
            <div class="art1">
                <div class="art1-In" data-aos="fade-left">
                    <h2 class="title">Avoid Watering by Hand</h2>
                    <p>It often wastes water as there is excess runoff, and water does not penetrate beyond the top
                        1
                        inch
                        of
                        soil. This irrigation practice harms plants by forcing root growth too close to the surface.
                        If
                        you
                        must
                        water by hand, place a 5-gallon bucket with a few holes in the bottom next to the plant and
                        fill
                        it
                        with
                        water; when it has drained, move it to the next plant and refill.</p>
                </div>
                <img src="../../assets/image/avoidwatering.jpg" alt="" style="width: 340px;
                height: 260px;border-radius: 5px;" data-aos="fade-right">
            </div>
        </article><br><br><br><br>



        <article>
            <div class="art2">
                <div class="art2-In" data-aos="fade-left">
                    <h2 class="title">Use Drip Irrigation</h2>
                    <p>They can deliver a large quantity of water in a short time. They have the disadvantage,
                        however,
                        of
                        excessive evaporation, both during watering and from the plant and soil surface. Early
                        morning
                        watering
                        minimizes water loss. However, sprinkler systems that deliver the water from overhead are
                        the
                        most
                        effective means of watering turfgrass. Be sure to position sprinklers to shower areas of
                        vegetation, not
                        driveways, streets, or patios. Water until the soil is moist 6 inches deep, usually 1 inch
                        per
                        week
                        applied at one time.</p>
                </div>
                <img src="../../assets/image/dripIrrigate.jpg" alt="" style="width: 340px;
                height: 260px;border-radius: 5px;" data-aos="fade-right">
            </div>
        </article><br><br>
    </section>

    <section>
        <article data-aos="fade-down">
            <h2 class="title">Best Garden designing Services</h2><br>
            <p>Garden designing is a meticulous and creative process that involves the deliberate arrangement and
                organization
                of outdoor spaces to achieve both aesthetic and functional objectives. Expert garden designers
                carefully
                consider elements such as plant selection, hardscape features, lighting, and water elements to craft
                harmonious
                environments that complement the natural surroundings and fulfill the specific desires of the
                client.
            </p>
        </article>

        <article data-aos="fade-down">
            <p>A well-designed garden has the power to transform an ordinary outdoor space into a haven of
                tranquility
                or a vibrant hub of social activity. Garden designers leverage their knowledge of botanical science,
                spatial aesthetics, and environmental sustainability to create personalized outdoor retreats that
                suit
                the preferences and lifestyle of the property owner</p>
        </article>
        <img src="../../assets/image/gardenDesign.jpg" alt="" style="border-radius: 5px;" data-aos="fade-down">
    </section><br>


</section>


<!-- ********************************SERVICE 4******************************** -->


<section *ngIf="ServiceId==4" class="Service4">
    <section id="about">
        <h2>Green House Services</h2>
        <p>A greenhouse is a special structure designed to regulate the temperature and humidity of the environment
            inside. It provides a controlled environment for the optimal growth of plants.</p>
    </section>

    <section id="benefits">
        <h2 class="title">Greenhouse Benefits</h2>
        <ul>
            <li><strong>Safeguarded Environment:</strong> Greenhouses provide a safe haven for plants, protecting
                them
                from insects and extreme weather events.</li>
            <li><strong>Stronger Plants:</strong> With better control over the environment, you can expect healthier
                and
                more robust plants.</li>
            <li><strong>Temperature and Humidity Regulation:</strong> Greenhouses allow precise control over
                temperature
                and humidity, essential for optimal plant growth.</li>
            <li><strong>Gardening Throughout Any Season:</strong> The controlled environment in a greenhouse enables
                year-round gardening.</li>
            <li><strong>Multipurpose Setting:</strong> Greenhouses support the use of various soil types based on
                the
                plants' needs.</li>
        </ul>
    </section>

    <img src="../../assets/image/Greenhouse.png" alt="" style="border-radius: 5px;" data-aos="fade-down"><br><br><br>

    <section id="services">
        <h2 class="title">Green House Services</h2>
        <p data-aos="fade-up-right">We offer a range of greenhouse services to meet your specific needs. Whether you are
            a home gardener or a
            commercial grower, we have the expertise to create and maintain an ideal greenhouse environment for your
            plants.
        </p>
        <ul data-aos="fade-up-right">
            <li>Greenhouse Design and Construction</li>
            <li>Temperature and Humidity Control Systems</li>
            <li>Plant Protection Measures</li>
            <li>Customized Soil Solutions</li>
            <li>Year-Round Maintenance Packages</li>
        </ul>
    </section>


    <!-- <h2 style="text-align: center;font-size: 30px;color: #4CAF50;">Shade Net Fixing</h2><br> -->

    <section id="benefits">
        <h2 style="text-align: start;font-size: 20px;color: #4CAF50;" class="title">Benefits of Shade Nets</h2><br>
        <ul data-aos="fade-up-left">
            <li>One of the main advantages provided by the shade nets is security for the plants and crops. The
                shade
                nets provide protection from illnesses and pests. The plants get destroyed by pests, rendering them
                unfit for human consumption.</li>
            <li>With the use of these shade nets, several climatic factors, including light, humidity, temperature,
                and
                carbon dioxide levels, may be managed, assisting in the proper development of the plants.</li>
            <li>By keeping moisture within, the shade nets are essential in preventing significant plant drying.
            </li>
            <li>Cooling is one of the most significant advantages provided by shade netting. The shade nets’
                transpiration-based cooling system</li>
        </ul>
    </section>

    <section id="material-uses">
        <h2 style="text-align: start;font-size: 20px;color: #4CAF50;" class="title">Shade Netting Material Uses</h2>
        <br>
        <ul style="line-height: 30px;">
            <li data-aos="fade-right">➤ In horticulture, agriculture, and floriculture, a green shade net seems to be
                useful.</li>
            <li data-aos="fade-left">➤ They give plants a chilling environment that may be up to 30 degrees cooler than
                the outdoor
                temperature.</li>
            <li data-aos="fade-right">➤ This milder climate, among other things, promotes greater flower and fruit
                pollination.</li>
            <li data-aos="fade-left">➤ Materials from Shade Net House offer a highly efficient substitute for
                insecticides, herbicides,
                and
                fungicides.</li>
            <li data-aos="fade-right">➤ It guards against pests and lessens the spread of illness.</li>
        </ul>
    </section><br><br><br><br>

    <img src="../../assets/image/shaeNet.jpg" alt="" style="width: 100%;border-radius: 5px;" data-aos="fade-down">

</section>

<!-- ********************************SERVICE 5******************************** -->


<section *ngIf="ServiceId==5" class="Service5">
    <div class="plant">
        <div class="AboutPlant">
            <p data-aos="fade-up-right">
                <span class="title">Plants</span><br><br>
                Plants are the eukaryotes that form the kingdom Plantae; they are predominantly photosynthetic. This
                means that they obtain their energy from sunlight, using chloroplasts derived from endosymbiosis
                with
                cyanobacteria to produce sugars from carbon dioxide and water, using the green pigment chlorophyll.
                <br>
                There are about 380,000 known species of plants, of which the majority, some 260,000, produce seeds.
            </p>
            <img src="../../assets/image/plant.png" alt="" data-aos="fade-up-right">
        </div>
    </div><br><br><br><br>

    <div class="plant">
        <div class="AboutPlant Nursery">
            <p data-aos="fade-up-left">
                <span class="title">Nursery</span><br><br>
                A nursery is a place where plants are propagated and grown to a desired size. Mostly the plants
                concerned are for gardening, forestry, or conservation biology, rather than agriculture. A
                "nurseryman"
                is a person who owns or works in a nursery.
                <br>
                Some nurseries specialize in certain areas, which may include: propagation and the selling of small
                or
                bare root plants to other nurseries.
            </p>
            <img src="../../assets/image/nursery.jpg" alt="" data-aos="fade-up-left">
        </div>
    </div><br><br><br><br>

    <div class="plant">
        <div class="AboutPlant">
            <p data-aos="fade-down-right">
                <span class="title">Gardening Tools</span><br><br>
                A garden tool is any one of many tools made for gardening and landscaping, which overlap with the
                range
                of tools made for agriculture and horticulture. Garden tools can be divided into hand tools and
                power
                tools.
                <br>
                Today's garden tools originated with the earliest agricultural implements used by humans.
                The earliest tools were made variously of wood, flint, metal, tin, and bone.
            </p>
            <img src="../../assets/image/Tools.jpg" alt="" data-aos="fade-down-right">
        </div>
    </div>
</section>

<!-- ********************************SERVICE 6******************************** -->


<section *ngIf="ServiceId==6" class="Service6">
    <h3>Organic Farming</h3><br>
    <p data-aos="fade-down">Organic farming can be beneficial on biodiversity and environmental protection at local
        level. However,
        because
        organic farming has sometimes lower yields compared to intensive farming, additional agricultural land is
        needed
        elsewhere in the world, which means that natural and forest land has to be converted into agricultural land.
    </p>
    <img src="../../assets/image/organic.jpg" alt="" data-aos="fade-up"><br><br><br><br><br>

    <div class="Benefit">
        <h3>Benefits of Organic Farming</h3><br><br>
        <div class="Benefit-In">
            <div class="Benefit-In1" data-aos="fade-right">
                <p>➤ Environmental Benefits</p>
                <p>➤ Health Benefits</p>
                <p>➤ Taste & Quality</p>
                <p>➤ Sustainability</p>
                <p>➤ Support for local Economics</p>
            </div>
            <img src="../../assets/image/O_benefits.png" alt="" data-aos="fade-left">
        </div>
    </div><br><br><br><br>

    <h3>Gardening</h3><br>
    <p data-aos="fade-right">Gardening is the process of growing plants for their vegetables, fruits, flowers, herbs,
        and appearances
        within a
        designated space.Gardening varies in scale. There are immense palace gardens such as the Hanging Gardens of
        Babylon, or the 800 hectare Versailles gardens, large fruit orchards, vast forest gardens, small backyard
        gardens, and container gardens grown inside or outside
    </p>
    <img src="../../assets/image/gardening.jpg" alt="" style="width: 100%;
    height: 420px;" class="garden_ben" data-aos="fade-left"><br><br><br><br><br>

    <div>
        <h5>Benefits of Gardening</h5>
        <img src="../../assets/image/gardening_B.png" alt="" data-aos="fade-right">
    </div><br><br>


</section>


<!-- ********************************SERVICE 7******************************** -->


<section *ngIf="ServiceId==7" class="Service7">
    <h4 class="title">Free suggessions for Gardening</h4><br><br>
    <img src="../../assets/image/free.jpg" alt=""><br><br>
    <main>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "In every gardener, there is a child
            who believes in the
            seed
            fairy." 🌱✨</blockquote>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "To plant a garden is to believe in
            tomorrow." - Audrey
            Hepburn 🌸🌿</blockquote>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "A garden is a grand teacher. It
            teaches patience and
            careful
            watchfulness; it teaches industry and
            thrift; above all, it teaches entire trust." - Gertrude Jekyll 🌺📘</blockquote>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "The best time to plant a tree was
            20 years ago. The
            second
            best time is now." - Chinese Proverb 🌳⏳
        </blockquote>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "Gardening is the art that uses
            flowers and plants as
            paint,
            and the soil and sky as canvas." -
            Elizabeth Murray 🌷🎨</blockquote>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "To plant a garden is to believe in
            miracles." 🌈✨
        </blockquote>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "A garden is not made in a year;
            indeed, it is never made
            in
            the sense of finality. It grows, and
            with the labor of love should go on growing." - Frederick Eden 🌿💚</blockquote>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "The love of gardening is a seed
            once sown that never
            dies."
            - Gertrude Jekyll 🌱❤️</blockquote>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "Gardening adds years to your life
            and life to your
            years."
            🌸🌞</blockquote>
        <blockquote data-aos="fade-up-right"><span style="display: none;">★ </span> "The glory of gardening: hands in
            the dirt, head in the
            sun,
            heart with nature. To nurture a garden
            is to feed not just the body." 🌻☀️</blockquote>
    </main>
</section>


<div class="quotes" (click)="Showquote == false ? Showquote = true : Showquote = false">
    <h5>Get quotes</h5>
</div>


<div class="quote-content" [class.quotesActive]="Showquote==true">
    <div style="width: 100%;height: 100%;position: fixed;top: 0;background-color: rgb(0 0 0 / 0%);z-index: -10;"
        (click)="Showquote == false ? Showquote = true : Showquote = false" *ngIf="app.ScreenWidth>480"></div>
    <section class="footer_get_touch_outer ">

        <i class="fa-solid fa-circle-xmark" (click)="Showquote=false" id="QuoteClose" *ngIf="Showquote==true"></i>
        <!-- <div class="topImg"></div> -->
        <div class="container form-container quotesBox" [class.ShowQuote]="Showquote==true">
            <div class="footer_get_touch_inner grid-100 formDiv">
                <div class="colmun-70 get_form">
                    <div class="get_form_inner">
                        <div class="get_form_inner_text">
                            <h3>Get In Touch</h3>
                            <img src="../../assets/image/Grow_logo.png" alt="">
                        </div>
                        <form action="#">
                            <div class="grid-50-50">
                                <input type="text" placeholder="Name" #NameInput
                                    oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '');">
                                <input type="email" placeholder="Email" #emailInput>
                                <input type="tel" placeholder="Phone" #phoneInput
                                    oninput="javascript: if (this.value.length > 10) this.value = this.value.slice(0, this.maxLength);this.value = this.value.replace(/[^0-9]/g,'');">
                                <input type="text" placeholder="Location" #LocationInput>

                            </div>

                            <select #serviceInput class="selectService">
                                <option value="" disabled selected hidden style="color: grey;">Select a service...
                                </option>
                                <option value="Manufacturer of grow bags in All sizes">Manufacturer of grow bags in All
                                    sizes</option>
                                <option value="Modernized Roof Gardening">Modernized Roof Gardening</option>
                                <option value="Drip Irrigation & Garden designing">Drip Irrigation & Garden designing
                                </option>
                                <option value="Green House & Shade net fixing">Green House & Shade net fixing</option>
                                <option value="Plants, Nursery & Gardening tools">Plants, Nursery & Gardening tools
                                </option>
                                <option value="Organic Farming & Gardening">Organic Farming & Gardening</option>
                                <option value="Free Suggestions for Gardening">Free Suggestions for Gardening</option>
                            </select>


                            <div class="grid-full">
                                <textarea placeholder="About Your Query" cols="30" rows="10" #queryInput></textarea>
                                <input type="submit" value="Submit"
                                    (click)="SubmitContact(NameInput.value, emailInput.value, phoneInput.value, queryInput.value, LocationInput.value,serviceInput.value)">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- <div class="colmun-30 get_say_form">
                    <h5 style="text-align: center;">Connect Together</h5>
                    <ul class="get_say_info_sec">
                        <li>
                            <i class="fa fa-envelope"></i><a
                                href="mailto:vijayakumar532001@gmail.com">davistraders1&#64;gmail.com</a>

                        </li>
                        <li>
                            <i class="fa fa-whatsapp"></i>
                            <div><a href="tel:7871234650">78712 34650</a>
                                <a href="tel:9087022952">90870 22952</a>

                            </div>
                        </li>
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            <a>Ground Floor,Plot No: 80A,<br>Christian Nagar B Colony,<br>KTC nagar,
                                Thirunelveli</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>



        <div class="row AlertPop" *ngIf="PopupAlert">
            <div class="col-4 pop" data-aos="zoom-in">
                <div class="alert alert-success-light d-flex p-4 rounded-3 shadow-sm" role="alert"
                    [class.wrong]="FailureAlert==true" [class.correct]="FailureAlert!=true">
                    <span class="fa-stack me-3" style="vertical-align: top;" *ngIf="popupdata.title=='Success'">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-check fa-stack-1x"></i>
                    </span>
                    <span class="fa-stack me-3 failureIcon" style="vertical-align: top;"
                        *ngIf="popupdata.title!='Success'">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-xmark fa-stack-1x"></i>
                    </span>

                    <div class="flex-grow-1">
                        <h6 class="mb-1 pop-title">{{popupdata.title}}</h6>
                        <div class="mb-3">{{popupdata.message}}</div>
                    </div>
                    <i class="fa-solid fa-xmark" style="cursor: pointer;" (click)="PopupAlertClose()"></i>
                </div>
            </div>
        </div>
    </section><br><br><br>
</div>