@import url('../src/assets/css/base.css');
@import url('../src/assets/css/component-pickup-availability.css');
@import url('../src/assets/css/includes.min.css');
@import url('../src/assets/css/page-account.css');
@import url('../src/assets/css/theme.css');


a {
    text-decoration: none !important;
    color: black;
}

:root {
    --brand-secondary: #518432;
    --brand-modify-secondary: rgba(81, 132, 50, 0.3);
    --button-bg-color: #518432;
    --button-text-color: #ffffff;
    --button-bg-hover-color: #232323;
    --button-text-hover-color: #ffffff;
    --button-text-hover-modify-color: rgba(255, 255, 255, 0.4);
    --product-btn-bg-color: #ffffff;
    --product-icon-color: #232323;
    --product-btn-bg-hover-color: #518432;
    --product-icon-hover-color: #ffffff;
    --navbar-background-color: #518432;
    --navbar-text-modify-color: rgba(255, 255, 255, 0.1);
    --navbar-text-color: #ffffff;
    --header-icon-modify-color: rgba(35, 35, 35, 0.1);
    --header-icon-color: #232323;
    --header-icon-hover-color: #518432;
    --menu-bg-color: #ffffff;
    --menu-text-modify-color: rgba(35, 35, 35, 0.1);
    --menu-text-color: #232323;
    --menu-text-hover-color: #518432;
    --sale-bg-color: #7fbc1e;
    --sale-text-color: #ffffff;
    --soldout-bg-color: #c92c2c;
    --soldout-text-color: #ffffff;
    --footer-bg-color: #f0f6e8;
    --footer-heading-color: #232323;
    --footer-text-color: #666666;
    --footer-text-hover-color: #518432;
    --footer-bottom-bg-color: #f0f6e8;
    --footer-bottom-text-color: #666666;
    --password-color: #232323;
    --password-textcolor: #FFFFFF;
    --font-body-family: Poppins;
    --font-title-family: Lora;
    --bg-free-shipping-indicator: #fff3cd;
    --bg-free-shipping-indicator-eligible: #d4edda;
    --color-free-shipping-indicator: #856404;
    --color-free-shipping-indicator-eligible: #155724;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

// *********************LOADER********************

.loaderHead {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;


    .loader {
        width: 65px;
        padding: 8px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #25b09b;
        --_m:
            conic-gradient(#0000 10%, #000),
            linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
        mask: var(--_m);
        -webkit-mask-composite: source-out;
        mask-composite: subtract;
        animation: l3 1s infinite linear;
    }
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

// *********************LOADER********************