#shopify-section-template--14316923879512__16289212707c98911d {
    margin-bottom: 70px;
}

#shopify-section-template--14316923879512__16289212707c98911d .text-align-center {
    text-align: center;
}

#shopify-section-template--14316923879512__16289212707c98911d .text-align-left {
    text-align: left;
}

#shopify-section-template--14316923879512__16289212707c98911d .text-align-right {
    text-align: right;
}

#shopify-section-template--14316923879512__16289212707c98911d .slider-content-right,
#shopify-section-template--14316923879512__16289212707c98911d .slider-content-topright,
#shopify-section-template--14316923879512__16289212707c98911d .slider-content-bottomright {
    float: right;
}

#shopify-section-template--14316923879512__16289212707c98911d .slider-content-left,
#shopify-section-template--14316923879512__16289212707c98911d .slider-content-topleft,
#shopify-section-template--14316923879512__16289212707c98911d .slider-content-bottomleft {
    float: left;
}

#shopify-section-template--14316923879512__16289212707c98911d .slider-content-center,
#shopify-section-template--14316923879512__16289212707c98911d .slider-content-topcenter,
#shopify-section-template--14316923879512__16289212707c98911d .slider-content-bottomcenter {
    margin: 0 auto;
    float: unset;
}

#shopify-section-template--14316923879512__16289212707c98911d .page-width-topleft,
#shopify-section-template--14316923879512__16289212707c98911d .page-width-topcenter,
#shopify-section-template--14316923879512__16289212707c98911d .page-width-topright {
    top: 30px;
}

#shopify-section-template--14316923879512__16289212707c98911d .page-width-bottomleft,
#shopify-section-template--14316923879512__16289212707c98911d .page-width-bottomcenter,
#shopify-section-template--14316923879512__16289212707c98911d .page-width-bottomright {
    bottom: 30px;
}

@media(max-width:543px) {

    #shopify-section-template--14316923879512__16289212707c98911d .mobile-slider-content-right,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-slider-content-topright,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-slider-content-bottomright {
        float: right !important;
    }

    #shopify-section-template--14316923879512__16289212707c98911d .mobile-slider-content-left,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-slider-content-topleft,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-slider-content-bottomleft {
        float: left !important;
    }

    #shopify-section-template--14316923879512__16289212707c98911d .mobile-slider-content-center,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-slider-content-topcenter,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-slider-content-bottomcenter {
        margin: 0 auto;
        float: unset !important;
    }

    #shopify-section-template--14316923879512__16289212707c98911d .mobile-page-width-topleft,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-page-width-topcenter,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-page-width-topright {
        top: 30px !important;
        bottom: auto !important;
    }

    #shopify-section-template--14316923879512__16289212707c98911d .mobile-page-width-bottomleft,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-page-width-bottomcenter,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-page-width-bottomright {
        bottom: 30px !important;
        top: auto !important;
    }

    #shopify-section-template--14316923879512__16289212707c98911d .mobile-page-width-left,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-page-width-right,
    #shopify-section-template--14316923879512__16289212707c98911d .mobile-page-width-center {
        top: auto !important;
        bottom: auto !important;
    }

    #shopify-section-template--14316923879512__16289212707c98911d .mobile-text-align-center {
        text-align: center !important;
    }

    #shopify-section-template--14316923879512__16289212707c98911d .mobile-text-align-left {
        text-align: left !important;
    }

    #shopify-section-template--14316923879512__16289212707c98911d .mobile-text-align-right {
        text-align: right !important;
    }
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__16289212707c98911d {
        margin-bottom: 30px;
    }
}

#shopify-section-template--14316923879512__16496555706ee14f45 {
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__16496555706ee14f45 {
        margin-bottom: 30px;
    }
}

#shopify-section-template--14316923879512__16496567994b538d3a .ishistoryblock .story-conent .banner-image-right {
    order: 2;
}

#shopify-section-template--14316923879512__16496567994b538d3a .ishistoryblock .story-conent .banner-text-right {
    order: 1;
}

#shopify-section-template--14316923879512__16496567994b538d3a .ishistoryblock .story-conent .banner-image-left {
    order: 1;
}

#shopify-section-template--14316923879512__16496567994b538d3a .ishistoryblock .story-conent .banner-text-left {
    order: 2;
}

#shopify-section-template--14316923879512__16496567994b538d3a {
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__16496567994b538d3a {
        margin-bottom: 30px;
    }
}

#shopify-section-template--14316923879512__162935800064a32fb5 {
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__162935800064a32fb5 {
        margin-bottom: 30px;
    }
}

#shopify-section-template--14316923879512__1649669375b99c238c {
    margin-bottom: 70px;
}

#shopify-section-template--14316923879512__1649669375b99c238c .ishibannerblock {
    background-color: #fafafa;
}

#shopify-section-template--14316923879512__1649669375b99c238c .ishibannerblock {
    padding: 50px 0;
}

#shopify-section-template--14316923879512__1649669375b99c238c .ishibannerblock .image-container a .banner-button .btn {
    background-color: #ffffff;
    color: #232323;
    border-color: #ffffff;
}

#shopify-section-template--14316923879512__1649669375b99c238c .ishibannerblock .image-container a .banner-button .btn:hover {
    background-color: #518432;
    color: #ffffff;
    border-color: #518432;
}

@media (max-width: 991px) {
    #shopify-section-template--14316923879512__1649669375b99c238c .ishibannerblock {
        padding: 25px 0;
    }
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__1649669375b99c238c {
        margin-bottom: 30px;
    }
}

#shopify-section-template--14316923879512__1649659325708a77a1 {
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__1649659325708a77a1 {
        margin-bottom: 30px;
    }
}

#shopify-section-template--14316923879512__16496735153cde4f54 {
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__16496735153cde4f54 {
        margin-bottom: 30px;
    }
}

#shopify-section-template--14316923879512__16496596843877787f {
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__16496596843877787f {
        margin-bottom: 30px;
    }
}

#shopify-section-template--14316923879512__1649668210c1aaa801 {
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__1649668210c1aaa801 {
        margin-bottom: 20px;
    }
}

#shopify-section-template--14316923879512__164966659535ff8063 .category-color {
    background-color: #fafafa;
}

#shopify-section-template--14316923879512__164966659535ff8063 .category-color .banner-center .round {
    background-color: #fafafa;
}

#shopify-section-template--14316923879512__164966659535ff8063 .category-block {
    padding: 70px 0;
}

#shopify-section-template--14316923879512__164966659535ff8063 .section-header h2,
#shopify-section-template--14316923879512__164966659535ff8063 .ishicategoryblock_content .category-right .ishicategoryblock-container .service-title .text-container,
#shopify-section-template--14316923879512__164966659535ff8063 .ishicategoryblock_content .category-left .ishicategoryblock-container .service-title .text-container {
    color: #518432;
}

#shopify-section-template--14316923879512__164966659535ff8063 .section-header .decs,
#shopify-section-template--14316923879512__164966659535ff8063 .ishicategoryblock_content .category-right .ishicategoryblock-container .service-title .sub-container,
#shopify-section-template--14316923879512__164966659535ff8063 .ishicategoryblock_content .category-left .ishicategoryblock-container .service-title .sub-container {
    color: #666666;
}

#shopify-section-template--14316923879512__164966659535ff8063 {
    margin-bottom: 70px;
}

#shopify-section-template--14316923879512__164966659535ff8063 .ishicategoryblock_content .category-left .ishicategoryblock-container,
#shopify-section-template--14316923879512__164966659535ff8063 .ishicategoryblock_content .category-right .ishicategoryblock-container {
    background-color: #ffffff;
}

@media (max-width: 543px) {
    #shopify-section-template--14316923879512__164966659535ff8063 .category-block {
        padding: 35px 0;
    }

    #shopify-section-template--14316923879512__164966659535ff8063 {
        margin-bottom: 30px;
    }
}

#shopify-section-template--14316923879512__164967642042f21b2a {
    margin-bottom: 70px;
}

#shopify-section-template--14316923879512__164967642042f21b2a .testimonial-color {
    background: #fafafa;
}

#shopify-section-template--14316923879512__164967642042f21b2a .ishitestimonials-container {
    background: #ffffff;
}

#shopify-section-template--14316923879512__164967642042f21b2a .ishitestimonials-container .testimonial-img img {
    border: 2px solid #518432;
}

#shopify-section-template--14316923879512__164967642042f21b2a .ishitestimonials-container .user-quote svg,
#shopify-section-template--14316923879512__164967642042f21b2a .ishitestimonials-container .user-info .user-designation,
#shopify-section-template--14316923879512__164967642042f21b2a .testimonial .section-header .sub-title {
    color: #518432;
}

#shopify-section-template--14316923879512__164967642042f21b2a .ishitestimonials .owl-dots .owl-dot.active span,
#shopify-section-template--14316923879512__164967642042f21b2a .ishitestimonials .owl-dots .owl-dot:hover span {
    background-color: #518432;
}

#shopify-section-template--14316923879512__164967642042f21b2a .user-info .user-name,
#shopify-section-template--14316923879512__164967642042f21b2a .testimonial .section-header>h2 {
    color: #232323;
}

#shopify-section-template--14316923879512__164967642042f21b2a .ishitestimonials-container .user-description p {
    color: #666666;
}

#shopify-section-template--14316923879512__164967642042f21b2a .ishitestimonials .owl-dots .owl-dot span {
    background: #666666;
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__164967642042f21b2a {
        margin-bottom: 30px;
    }
}

.spr-container {
    padding: 24px;
    border-color: #ECECEC;
}

.spr-review,
.spr-form {
    border-color: #ECECEC;
}

#shopify-section-template--14316923879512__16496599204d960e6e {
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    #shopify-section-template--14316923879512__16496599204d960e6e {
        margin-bottom: 30px;
    }
}

.BestRated {
    width: 29% !important;
}


.grid__item {
    .grid-view-item {
        width: 100%;

        .card-wrapper {
            width: 100%;
        }
    }
}

.grid__item .col-xl-4 .col-lg-6 .col-md-6 .col-sm-6 .col-xs-12 {
    width: 100% !important;
}

.ishi-services {
    width: 100%;
    height: auto;
    display: flex;
}

.intro {
    display: flex;
    width: 100%;
    max-width: fit-content;

    .testimonial {
        width: 100%;
    }
}

.bannerblock1 {
    width: 45% !important;
}

.bannerblock1,
.bannerblock2 {
    .lazyload:hover {
        transition: all .6s ease 0s !important;
    }
}

.rotateImgUp {
    width: 46% !important;
}

.rotateImgDown {
    width: 93% !important;
}

.downImg {
    height: auto !important;
}

.ourTestimonials {
    width: 44% !important;
}

#main-media-container {
    // height: 733px !important;
}

.zoom {
    z-index: 999;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    cursor: crosshair;
    background-repeat: no-repeat;
    position: absolute;
    top: -392px;
    left: 0px;
    height: 540px !important;
    width: 100%;
}

.owl-item .cloned {
    visibility: hidden;
    display: none;
    transform: translate3d(-2469px, 0px, 0px);
    transition: all 0.5s ease 0s;
    width: 4938px;
}

.Topcloned {
    display: none !important;
}

.owl-stage {
    // transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease 0s;
    width: 7890px;
}

#qvPopupModal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-popup-modal__content {
    width: 70% !important;
    height: 80% !important;
    margin: 0 !important;
}

.product-popup-modal__content-info {
    width: 90% !important;
    display: flex !important;
}

.testimonialsSlide {
    width: 27% !important;
}

.BLOG {
    transform: translate3d(0px, 0px, 0px);
    transition: all 1.5s ease 0s;
    width: 2592px;
}

.slideshow__link img {
    height: 480px !important;
}

.quantity {

    button,
    input {
        height: 40px;
    }
}

.select {
    height: 40px;

    select {
        height: 40px;
    }
}

.product-form__buttons {
    height: 40px;

    button {
        height: 40px;
        width: 170px;
    }
}

.size label {
    box-shadow: 2px 2px 4px #e0e0e0;
    transform: scale(0.78);
    border-color: #232323;
}

.ProductInfo {
    width: 145.25px;
    margin-right: 15px;
    height: 145px;
    margin-top: 300px;
}

.ProductNav button {
    height: 145px;
    // margin-top: 165px;
    margin-top: 300px;
}

.ProductList {
    width: 53%;
}

#ProductPopup-1649659920b235c689-4 {
    font-size: 14px;
}

.zoom {
    margin-top: 110px;
}

.ULDRAG {
    margin-top: 100px;
}

.DetailPop .active {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s cubic-bezier(0, 1, .4, 1), transform .4s cubic-bezier(.18, 1.25, .4, 1), visibility .4s linear;
    transform: scale(1);
}

.DetailPop .cloned {
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s cubic-bezier(0, 1, .4, 1), transform .4s cubic-bezier(.18, 1.25, .4, 1), visibility .4s linear;
    transform: scale(1);
}

.product-popup-modal__content-info {
    align-items: flex-start !important;
}

.more-description {
    display: flex !important;
    align-items: flex-start !important;
}

#qv-add-to-cart {
    float: left;
}

.activeTab {
    display: block !important;
    opacity: 1 !important;
}

.spr-summary-actions {
    float: right;
}

.spr-starrating,
.spr-starratings {
    i {
        font-style: normal !important;
    }
}

.spr-form-contact,
.spr-form-review,
.spr-form-actions {
    border: none !important;
}

.spr-form-actions {
    input {
        float: right;
    }
}

.new-review-form {

    input,
    textarea {
        font-size: 16px;
    }
}

.contact__fields .field {
    input {
        height: 40px;
    }
}

.Comment {
    height: 150px !important;

    textarea {
        min-height: 150px;
        height: 150px !important;
    }
}

.story-block {
    margin-top: 60px;
}


// *********************NEW**********************

.container1 {
    width: 99%;
    height: auto;
    margin-top: 60px !important;

    .container1 h3 {
        text-align: center;
        padding-top: 6%;
        margin-bottom: 60px;
        font-size: 1.8rem;
        font-weight: 600;
        position: relative;
    }

    .container1 h3::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 5px;
        background-color: #518432;
        border-radius: 20px;
    }

    .row {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 30px;
        margin-left: 15px !important;
        margin-right: 15px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media screen and (max-width:767px) {
        .SlideDescription {
            display: block !important;
        }
    }

    @media screen and (max-width:420px) {
        .container1 {
            .row {
                justify-content: flex-start !important;
            }
        }
    }

    .row .service {
        width: 220px;
        height: 130px;
        padding: 25px 15px;
        background: transparent;
        font-size: 15px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;
        border: 1px solid #518432;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .count {
            width: 45px;
            height: 45px;
            line-height: normal;
            border-radius: 50%;
            font-size: 40px;
            color: #518432
        }

    }

    .row .service:hover {
        color: #fff;
        background-color: #518432;
        transform: scale(1.05);

        .count {
            font-size: 40px;
            color: #518432;
            background-color: #FFFFFF;
        }

        p {
            color: white;
        }

    }

    .row .service i {
        color: #518432;
        margin-bottom: 20px;
        font-size: 40px;
        transition: 0.5s;
    }

    .row .service:hover i {
        color: #fff;
    }

    .row .service h3 {
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.FourthBlock {
    padding: 20px 0px !important;
}

.fourth {
    display: flex;
    align-items: center;
    justify-content: center;

    .FourImages {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.singlePlant {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 400px !important;
    }
}

// *************************ADVANTAGE***********************

.advantage {
    width: 100%;
    height: 100%;

    .advantage-In {
        width: 100%;
        height: 100%;

        .title {
            text-align: center;
            color: #518432;
            font-size: 30px;
            line-height: 22px;
            margin-bottom: 30px;
            font-weight: 500;
            letter-spacing: 0px;
            text-transform: unset;
            font-family: Lora;
        }

        .advantage-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .advantage-left,
            .advantage-right {
                width: 400px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .advantage-center {
                width: 10%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img {
                    width: 55px;
                    height: 55px;
                }
            }

            .advantage-left-In,
            .advantage-right-In {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .topImg {
                    width: 143px;
                    height: 180px;
                }

                .points {
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 10px;

                    .steps {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 10px;

                        img {
                            width: 26px;
                            height: 26px;
                        }
                    }
                }
            }
        }
    }
}

// *************************INSTRUCTION***********************

.instruction {
    width: 100%;
    height: 100%;

    .title {
        text-align: center;
        color: #518432;
        font-size: 30px;
        line-height: 22px;
        margin-bottom: 30px;
        font-weight: 500;
        letter-spacing: 0px;
        text-transform: unset;
        font-family: Lora;
    }

    .instruction-In {
        width: auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 25px;
        margin-left: 60px;

        .Steps {
            width: 335px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            img {
                width: 120px;
                height: 120px;
                transition: all 0.6s;
            }

            p {
                display: flex;

                span {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: serif;
                }
            }
        }

        .Steps:hover {
            img {
                transform: rotateX(360deg);
            }
        }
    }
}

.aboutOurService {
    max-width: 100% !important;
    margin: 0 !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

@media screen and (max-width:990px) {
    .bannerblock1 {
        height: 100% !important;
        width: 100% !important;
    }

    .rotateImgDown {
        width: 100% !important;
    }

    .rotateImgUp {
        width: 50% !important;
    }
}



@media screen and (max-width:420px) {
    .advantage-content {
        flex-direction: column !important;
        gap: 30px;

        .advantage-left,
        .advantage-right {
            width: 100% !important;
        }
    }
}

@media screen and (max-width:420px) {
    .AllServicesList {
        .service {
            width: 160px !important;
        }
    }

    .instruction-In {
        margin-left: 20px !important;
    }
}

.ishi-services {
    flex-wrap: wrap;
}

.MovingImg {
    animation: MoveUpDown 4s linear infinite;
}

@keyframes MoveUpDown {
    50% {
        bottom: 25px;
    }

    100% {
        bottom: 0;
    }
}

.hidden-xs-up {
    width: 32% !important;
}

.TopStage {
    .owl-item {
        width: 100%;
    }
}

.firstSliderContent {
    left: auto !important;
    right: 0px !important;
    width: 60% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.firstSliderContentIn,
.firstSliderContent1In {
    width: 70% !important;
}

.firstSliderContent1 {
    left: 10px !important;
    right: auto !important;
    width: 60% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


// .maxReached {
//     background-color: #9dc188 !important;
// }


// ---------------------SERVICES-------------------

.container1 {
    section {
        padding: 60px 0;
        min-height: 100vh;
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        outline: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .bg-gray {
        background-color: #f9f9f9;
    }

    .site-heading h2 {
        display: block;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .site-heading h2 span {
        color: #518432;
    }

    .site-heading h4 {
        display: inline-block;
        padding-bottom: 20px;
        position: relative;
        text-transform: capitalize;
        z-index: 1;
    }

    .site-heading h4::before {
        background: #518432 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        width: 50px;
    }

    .site-heading {
        margin-bottom: 60px;
        overflow: hidden;
        margin-top: -5px;
    }

    .carousel-shadow .owl-stage-outer {
        margin: -15px -15px 0;
        padding: 15px;
    }

    .we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
        background: #ffffff none repeat scroll 0 0;
        border: 2px solid;
        height: 15px;
        margin: 0 5px;
        width: 15px;
    }

    .we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
        background: #518432 none repeat scroll 0 0;
        border-color: #518432;
    }

    .we-offer-area .item {
        background: #ffffff none repeat scroll 0 0;
        border-left: 2px solid #518432;
        -moz-box-shadow: 0 0 10px #cccccc;
        -webkit-box-shadow: 0 0 10px #cccccc;
        -o-box-shadow: 0 0 10px #cccccc;
        box-shadow: 0 0 10px #cccccc;
        overflow: hidden;
        padding: 30px;
        position: relative;
        z-index: 1;
    }

    .we-offer-area.text-center .item {
        background: #ffffff none repeat scroll 0 0;
        border: medium none;
        padding: 50px 40px 64px;
        position: relative;

        button {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: white;
            border-radius: 3px;
            padding: 4px;
            border: 1px solid #d5d5d5;
            cursor: pointer;
        }
    }

    .we-offer-area.text-center .item i {
        background: #518432 none repeat scroll 0 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        color: #ffffff;
        font-size: 24px;
        height: 48px;
        line-height: 48px;
        position: relative;
        text-align: center;
        width: 47px;
        z-index: 1;
        transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        margin-bottom: 25px;
    }

    .we-offer-area.text-center .item i::after {
        border: 2px solid #518432;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        content: "";
        height: 55px;
        left: -5px;
        position: absolute;
        top: -5px;
        width: 53px;
        z-index: -1;
        transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .site-heading h2 {
        font-size: 18px !important;
    }

    .we-offer-area.item-border-less .item {
        border: medium none;
    }

    .we-offer-area .our-offer-items.less-carousel .equal-height {
        margin-bottom: 30px;
    }

    .we-offer-area.item-border-less .item .number {
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        font-weight: 900;
        opacity: 0.1;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
    .we-offer-area.center-active .single-item:nth-child(2n) .item {
        background: #518432 none repeat scroll 0 0;
    }

    .our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
    .our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
    .our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
    .we-offer-area.center-active .single-item:nth-child(2n) .item i,
    .we-offer-area.center-active .single-item:nth-child(2n) .item h4,
    .we-offer-area.center-active .single-item:nth-child(2n) .item p {
        color: #ffffff;
    }

    .we-offer-area .item i {
        color: #518432;
        display: inline-block;
        font-size: 60px;
        margin-bottom: 20px;
    }

    .we-offer-area .item h4 {
        font-weight: 600;
        text-transform: capitalize;
    }

    .we-offer-area .item p {
        margin: 0;
    }

    .we-offer-area .item i,
    .we-offer-area .item h4,
    .we-offer-area .item p {
        transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .we-offer-area .item::after {
        background: #518432 none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: -100%;
        position: absolute;
        top: 0;
        transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        width: 100%;
        z-index: -1;
    }

    .we-offer-area .item:hover::after {
        left: 0;
    }

    .we-offer-area .item:hover i,
    .we-offer-area .item:hover h4,
    .we-offer-area .item:hover p {
        color: #ffffff !important;
    }

    .we-offer-area.text-center .item:hover i::after {
        border-color: #ffffff !important;
    }

    .we-offer-area.text-center .item:hover i {
        background-color: #ffffff !important;
        color: #518432 !important;
    }

    .we-offer-area.text-left .item i {
        background: #518432 none repeat scroll 0 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        color: #ffffff;
        display: inline-block;
        font-size: 60px;
        height: 100px;
        line-height: 100px;
        margin-bottom: 30px;
        position: relative;
        width: 100px;
        z-index: 1;
        text-align: center;
    }

    .we-offer-area.text-left .item i::after {
        border: 2px solid #518432;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        content: "";
        height: 120px;
        left: -10px;
        position: absolute;
        top: -10px;
        width: 120px;
    }

    .equal-height {
        width: 280px;
        height: 170px;

        .item {
            width: 100%;
            height: 100%;
            padding: 20px !important;

            h4 {
                font-size: 12px;
            }
        }
    }

    //    h2,
    //     h3,
    //     h4,
    //     h5,
    //     h6 {}

    //     a,
    //     a:hover,
    //     a:focus,
    //     a:active {
    //         text-decoration: none;
    //         outline: none;
    //     }

    //     a,
    //     a:active,
    //     a:focus {
    //         color: #333;
    //         text-decoration: none;
    //         transition-timing-function: ease-in-out;
    //         -ms-transition-timing-function: ease-in-out;
    //         -moz-transition-timing-function: ease-in-out;
    //         -webkit-transition-timing-function: ease-in-out;
    //         -o-transition-timing-function: ease-in-out;
    //         transition-duration: .2s;
    //         -ms-transition-duration: .2s;
    //         -moz-transition-duration: .2s;
    //         -webkit-transition-duration: .2s;
    //         -o-transition-duration: .2s;
    //     }

    //     ul {
    //         margin: 0;
    //         padding: 0;
    //         list-style: none;
    //     }

    //     img {
    //         max-width: 100%;
    //         height: auto;
    //     }

    //     span,
    //     a,
    //     a:hover {
    //         display: inline-block;
    //         text-decoration: none;
    //         color: inherit;
    //     }

    //     .section-head {
    //         margin-bottom: 60px;
    //     }

    //     .section-head h4 {
    //         position: relative;
    //         padding: 0;
    //         color: #71b14b;
    //         line-height: 1;
    //         letter-spacing: 0.3px;
    //         font-size: 34px;
    //         font-weight: 700;
    //         text-align: center;
    //         text-transform: none;
    //         margin-bottom: 30px;
    //     }

    //     .section-head h4:before {
    //         content: '';
    //         width: 60px;
    //         height: 3px;
    //         background: #71b14b;
    //         position: absolute;
    //         left: 0px;
    //         bottom: -10px;
    //         right: 0;
    //         margin: 0 auto;
    //     }

    //     .section-head h4 span {
    //         font-weight: 700;
    //         padding-bottom: 5px;
    //         color: #2f2f2f
    //     }

    //     p.service_text {
    //         color: #cccccc !important;
    //         font-size: 16px;
    //         line-height: 28px;
    //         text-align: center;
    //     }

    //     .section-head p,
    //     p.awesome_line {
    //         color: #818181;
    //         font-size: 16px;
    //         line-height: 28px;
    //         text-align: center;
    //     }

    //     .extra-text {
    //         font-size: 34px;
    //         font-weight: 700;
    //         color: #2f2f2f;
    //         margin-bottom: 25px;
    //         position: relative;
    //         text-transform: none;
    //     }

    //     .extra-text::before {
    //         content: '';
    //         width: 60px;
    //         height: 3px;
    //         background: #71b14b;
    //         position: absolute;
    //         left: 0px;
    //         bottom: -10px;
    //         right: 0;
    //         margin: 0 auto;
    //     }

    //     .extra-text span {
    //         font-weight: 700;
    //         color: #71b14b;
    //     }


    //     .ServList {
    //         width: 310px;
    //         height: 126px;

    //         span {
    //             background-color: rgb(211 211 211 / 28%) !important;
    //             color: #71b14b !important;
    //         }
    //     }

    //     .item {
    //         display: flex;
    //         background: #fff;
    //         text-align: center;
    //         padding: 30px 25px;
    //         border-radius: 20px;
    //         margin-bottom: 30px;
    //         -webkit-transition: all .5s ease 0;
    //         transition: all .5s ease 0;
    //         transition: all 0.5s ease 0s;
    //         height: 100%;

    //     }

    //     .item:hover {
    //         background: #71b14b;
    //         box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
    //         -webkit-transition: all .5s ease 0;
    //         transition: all .5s ease 0;
    //         transition: all 0.5s ease 0s;

    //         span {
    //             color: #FFFFFF !important;
    //         }
    //     }

    //     .item:hover .item,
    //     .item:hover span.icon {
    //         background: #fff;
    //         border-radius: 10px;
    //         -webkit-transition: all .5s ease 0;
    //         transition: all .5s ease 0;
    //         transition: all 0.5s ease 0s;
    //     }

    //     .item:hover h6,
    //     .item:hover p {
    //         color: #fff;
    //         -webkit-transition: all .5s ease 0;
    //         transition: all .5s ease 0;
    //         transition: all 0.5s ease 0s;
    //     }

    //     .item .icon {
    //         font-size: 20px;
    //         margin-bottom: 25px;
    //         color: #71b14b;
    //         width: 50px;
    //         height: 50px;
    //         line-height: 50px;
    //         border-radius: 50px;
    //     }

    //     .item p {
    //         font-size: 15px;
    //         line-height: 26px;
    //     }

    //     .item h6 {
    //         margin-bottom: 20px;
    //         color: #2f2f2f;
    //     }

    //     .mission p {
    //         margin-bottom: 10px;
    //         font-size: 15px;
    //         line-height: 28px;
    //         font-weight: 500;
    //     }

    //     .mission i {
    //         display: inline-block;
    //         width: 50px;
    //         height: 50px;
    //         line-height: 50px;
    //         text-align: center;
    //         background: #71b14b;
    //         border-radius: 50%;
    //         color: #fff;
    //         font-size: 25px;
    //     }

    //     .mission .small-text {
    //         margin-left: 10px;
    //         font-size: 13px;
    //         color: #666;
    //     }

    //     .skills {
    //         padding-top: 0px;
    //     }

    //     .skills .prog-item {
    //         margin-bottom: 25px;
    //     }

    //     .skills .prog-item:last-child {
    //         margin-bottom: 0;
    //     }

    //     .skills .prog-item p {
    //         font-weight: 500;
    //         font-size: 15px;
    //         margin-bottom: 10px;
    //     }

    //     .skills .prog-item .skills-progress {
    //         width: 100%;
    //         height: 10px;
    //         background: #e0e0e0;
    //         border-radius: 20px;
    //         position: relative;
    //     }

    //     .skills .prog-item .skills-progress span {
    //         position: absolute;
    //         left: 0;
    //         top: 0;
    //         height: 100%;
    //         background: #71b14b;
    //         width: 10%;
    //         border-radius: 10px;
    //         -webkit-transition: all 1s;
    //         transition: all 1s;
    //     }

    //     .skills .prog-item .skills-progress span:after {
    //         content: attr(data-value);
    //         position: absolute;
    //         top: -5px;
    //         right: 0;
    //         font-size: 10px;
    //         font-weight: 600;
    //         color: #fff;
    //         background: rgba(0, 0, 0, 0.9);
    //         padding: 3px 7px;
    //         border-radius: 30px;
    //     }
}

@media screen and (max-width:420px) {
    .ServList {
        width: 173px !important;
        height: 210px !important;
        padding: 0 !important;
    }

    .LeftRight {
        position: absolute;
        bottom: -40px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;

        .owl-prev {
            opacity: 1;
        }

        .owl-next {
            opacity: 1;
        }
    }

    .LeftRight-dots {
        display: none !important;
    }

    .banner-button {
        .btn {
            padding: 8px !important;
        }
    }

    .ProdDetBox {
        width: 90% !important;

        .ProdDet {
            flex-wrap: wrap !important;
            width: 96% !important;
        }

        #qv-images-container {
            height: 300px !important;

            .qv-product-cover {
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }
    }

    .AllProducts {
        flex-wrap: wrap !important;
    }

    .equal-height {
        width: 95% !important;
    }
}


// *************NEW CHANGE****************
.O-Services {
    padding: 20px 0 !important;

    .slide-contain {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .less-carousel {
            width: 85% !important;
            justify-content: center !important;
        }
    }
}

.icon-hover-img,
.icon-img {
    img {
        width: 100px !important;
        height: 100px !important;
    }
}

.card__inner {
    padding: 10px;
}

.Prod-Image img {
    border-radius: 4px;
    transition: none !important;
}


// .Prod-Image img:hover {
//     width: 300px;
// }